body {
  margin: 0;
  font-family: 'Menlo','Bitstream Vera Sans Mono','Monaco','Consolas',monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: block;
  margin: 40px;
  width: 400px;
}

input {
  padding: 5px;
  font-family: 'Menlo','Bitstream Vera Sans Mono','Monaco','Consolas',monospace;
  width: 100%;
}

pre {
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 3px;
  width: 300px;
  font-size: 1.2em;
}

code {
  font-size: 1.2em;
  font-weight: 100;
}

.val {
  padding: 3px;
  background-color: #01FF70;
  display: inline-block;
}